<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 日志存放路径 -->
<!--    <property name="log.path" value="/sensorsdata/stdata/cdp_tag/log" />-->
<!--    <property name="log.path" value="/sensorsmounts/seqdata01/cdp_tag/log" />-->
    <!-- name的值是变量的名称，value的值时变量定义的值。通过定义的值会被插入到logger上下文中。定义后，可以使“${}”来使用变量。 -->
    <springProperty scope="context" name="logPath" source="logPath" default="./log"/>
    <property name="log.path" value="${logPath}" />
<!--    <property name="log.path" value="C:/Users/cocowqw/Desktop/log" />-->
    <!-- 日志输出格式 -->
<!--    %X{X-B3-TraceId:-},%X{X-B3-SpanId:-},%X{X-Span-Export:-}用于打印Spring Cloud Sleuth提供的TraceId和SpanId等信息，这配置信息用来追踪Zipkin Server请求链-->
    <property name="simple.log.pattern" value="[%-5level] %msg%n" />
    <property name="log.pattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5level [LOG_HOME:${LOG_HOME},TraceId:%X{X-B3-TraceId:-},SpanId:%X{X-B3-SpanId:-},Export:%X{X-Span-Export:-}] PID:${PID:-} --- %-20([%20.20thread]) %-55(%.32logger{30}:%L) - %msg%n" />
    <property name="console.log.pattern" value="%d{yyyy-MM-dd HH:mm:ss} %highlight(%-5level) %green([LOG_HOME:${LOG_HOME},TraceId:%X{X-B3-TraceId:-},SpanId:%X{X-B3-SpanId:-},Export:%X{X-Span-Export:-}]) %magenta(PID:${PID:-}) %white(---) %-20(%yellow([%20.20thread])) %-55(%cyan(%.32logger{30}:%L)) %magenta(- %msg%n)" />

    <!-- 控制台输出 -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${simple.log.pattern}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

<!--    &lt;!&ndash; 系统日志输出 &ndash;&gt;-->
<!--    <appender name="file_info" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--&lt;!&ndash;        <file>${log.path}/sys-info.log</file>&ndash;&gt;-->
<!--        &lt;!&ndash; 循环政策：基于时间创建日志文件 &ndash;&gt;-->
<!--        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">-->
<!--            &lt;!&ndash; 日志文件名格式 &ndash;&gt;-->
<!--            <fileNamePattern>${log.path}/log-info.%d{yyyy-MM-dd}.%i.log</fileNamePattern>-->
<!--            &lt;!&ndash; 日志最大的历史 60天 &ndash;&gt;-->
<!--            <maxHistory>15</maxHistory>-->
<!--            &lt;!&ndash;日志文件最大的大小&ndash;&gt;-->
<!--            <MaxFileSize>500MB</MaxFileSize>-->
<!--            &lt;!&ndash;日志文件的上限大小&ndash;&gt;-->
<!--&lt;!&ndash;            <totalSizeCap>1024MB</totalSizeCap>&ndash;&gt;-->
<!--        </rollingPolicy>-->
<!--        <encoder>-->
<!--            <pattern>${log.pattern}</pattern>-->
<!--        </encoder>-->
<!--&lt;!&ndash;        <filter class="ch.qos.logback.classic.filter.LevelFilter">&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash; 过滤的级别 &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            <level>INFO</level>&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash; 匹配时的操作：接收（记录） &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            <onMatch>ACCEPT</onMatch>&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash; 不匹配时的操作：拒绝（不记录） &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            <onMismatch>DENY</onMismatch>&ndash;&gt;-->
<!--&lt;!&ndash;        </filter>&ndash;&gt;-->
<!--    </appender>-->

<!--    <appender name="file_error" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--&lt;!&ndash;        <file>${log.path}/sys-error.log</file>&ndash;&gt;-->
<!--        &lt;!&ndash; 循环政策：基于时间创建日志文件 &ndash;&gt;-->
<!--        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">-->
<!--            &lt;!&ndash; 日志文件名格式 &ndash;&gt;-->
<!--            <fileNamePattern>${log.path}/log-error.%d{yyyy-MM-dd}.%i.log</fileNamePattern>-->
<!--            &lt;!&ndash; 日志最大的历史 60天 &ndash;&gt;-->
<!--            <maxHistory>15</maxHistory>-->
<!--            &lt;!&ndash;日志文件最大的大小&ndash;&gt;-->
<!--            <MaxFileSize>500MB</MaxFileSize>-->
<!--            &lt;!&ndash;日志文件的上限大小&ndash;&gt;-->
<!--&lt;!&ndash;            <totalSizeCap>1024MB</totalSizeCap>&ndash;&gt;-->
<!--        </rollingPolicy>-->
<!--        <encoder>-->
<!--            <pattern>${log.pattern}</pattern>-->
<!--        </encoder>-->
<!--&lt;!&ndash;        <filter class="ch.qos.logback.classic.filter.LevelFilter">&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash; 过滤的级别 &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            <level>ERROR</level>&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash; 匹配时的操作：接收（记录） &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            <onMatch>ACCEPT</onMatch>&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash; 不匹配时的操作：拒绝（不记录） &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            <onMismatch>DENY</onMismatch>&ndash;&gt;-->
<!--&lt;!&ndash;        </filter>&ndash;&gt;-->
<!--    </appender>-->

    <root level="INFO">
        <appender-ref ref="console" />
    </root>

    <!--系统操作日志-->
<!--    <root level="INFO">-->
<!--&lt;!&ndash;        <appender-ref ref="file_info" level="info,error" />&ndash;&gt;-->
<!--&lt;!&ndash;        <appender-ref ref="file_error" />&ndash;&gt;-->
<!--    </root>-->
</configuration>
